<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aesean.activitystack">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.block.BlockActivity"
            android:label="SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demo.textview.ShowMoreAnimationActivity"
            android:label="ShowMoreAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demo.flip.FlipLayoutActivity"
            android:label="FlipLayoutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demo.recyclerview.ListAdapterActivity"
            android:label="ListAdapterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".demo.recyclerview.MultiTypeListAdapterActivity"
            android:label="MultiTypeListAdapterActivity"
            android:parentActivityName=".MainActivity" />
        <service
            android:name=".service.LaunchActivityService"
            android:process=":launch_activity_service" />
    </application>

</manifest>